<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="principal">Principal </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="perfil">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="compra">Compra</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="regalo">Regalo</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="carrito"><img src="./assets/carrito.png" height="60px"></a>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="window.location.href='#'">Cerrar
                Sesión</button>
        </form>
    </div>
</nav>

<table style="margin: 0 auto;">
    <tr>
        <td>
            <div class="form-group">
                <p class="text-warning"></p>
                <h4 class="p-3 mb-2 bg-warning text-dark">CARRITO DE COMPRA</h4>
            </div>
        </td>
    </tr>
</table>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">CANTIDAD</th>
                <th scope="col"></th>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO</th>
                <th scope="col">SUBTOTAL EN $.</th>
                <th scope="col">RECARGO POR TARJETA COMPRADA</th>
                <th scope="col">TOTAL EN $.</th>
                <th scope="col">TOTAL EN Q.</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of Datos">
                <td>{{dato.repite}}</td>
                <td><img src="{{dato.image}}" width="20" height="40"></td>
                <td>{{dato.name}}</td>
                <td>${{dato.precio}}</td>
                <td>${{dato.precio * dato.repite}}</td>
                <td>{{dato.chargeRate * 100}}%</td>
                <td>${{((dato.precio * dato.repite)*dato.chargeRate) + (dato.precio * dato.repite) | number : '1.2' }}
                </td>
                <td>Q.{{(((dato.precio * dato.repite)*dato.chargeRate) + (dato.precio * dato.repite))*tasa | number : '1.2'}}
                </td>
            </tr>
            <tr>
                <td colspan="6">TOTAL A PAGAR</td>
                <td>${{total | number : '1.2'}}</td>
                <td>Q.{{total * tasa | number : '1.2'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pago">
    <div class="card bg-secondary mb-3" style="max-width: 20rem;">
        <table style="margin: 0 auto;">
            <tr>
                <td>
                </td>
                <td>
                    <div class="form-group">
                        <p class="text-warning"></p>
                        <h4 class="p-3 mb-2 bg-warning text-dark"><img src="./assets/tadelante.png" height="60px">PAGO DE GIFTCARD</h4>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">NUMERO DE TARJETA DE CREDITO</label>
                            <input name="cajaT" id="cajaT" [(ngModel)]="tarjeta" type="text" class="form-control"
                                placeholder="NUMERO DE TARJETA">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">NOMBRE DE PROPIETARIO</label>
                            <input name="cajaN" id="cajaN" [(ngModel)]="nombre" type="text" class="form-control"
                                placeholder="NOMBRE PROPIETARIO">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">FECHA EXPIRACION</label>
                            <input name="cajaF" id="cajaF" [(ngModel)]="fecha" type="text" class="form-control"
                                placeholder="MM/YY">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">CVV</label>
                            <input name="cajaC" id="cajaC" [(ngModel)]="cvv" type="text" class="form-control"
                                placeholder="CVV">
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ELEGIR MONEDA PARA REALIZAR PAGO</label>
                                <select name="combo" [(ngModel)]="totalp" class="custom-select">
                                  <option name="moneda" value="$" >${{total | number : '1.2'}}</option>
                                  <option name="moneda" value="Q">Q{{total * tasa | number : '1.2'}}</option>
                                </select>
                              </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="Ingresar"
                            (click)="realizarPago()">REALIZAR PAGO</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>