<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="principal">Principal </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="perfil">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="compra">Compra</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="regalo">Regalo</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="regalo"><img src="./assets/regalo.png" height="60px"></a>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="window.location.href='#'">Cerrar
                Sesión</button>
        </form>
    </div>
</nav>

<table style="margin: 0 auto;">
    <div class="form-group">
        <p class="text-warning"></p>
        <h4 class="p-3 mb-2 bg-warning text-dark">REGALAR GIFT CARDS</h4>
    </div>
    <tr>
        <td>
           
            <div>
                <h3><img src="./assets/grupo.png" height="60px">ELEGIR USUARIO </h3>
            </div>

        </td>
        <td>
            <div>
                <h3><img src="./assets/gift.png" height="60px">ELEGIR GIFT </h3>
            </div>
            
        </td>
    </tr>
</table>

<div class="row" >
   

</div>